body,div,h3,img,p,button{
    margin:0;padding:0;
}
div,h3,span,p{
    box-sizing: border-box;
}
body,html {
    width:100%;
    height:100%;
    font-family:Arial,"微软雅黑";
}
a {
    text-decoration: none;
}


#container{
    width:100%;
    height:100%;
    padding-top:8rem;
    display:none;
}
#container div:first-of-type{
    width:37.2rem;
    height:56rem;
    margin:0 auto 8rem;
}
#container div:first-of-type img{
    border: none;
    width:100%;
    height:100%;
}
#container div:nth-of-type(2){
    width:149.2rem;
    margin:0 auto 3.4rem;
    height:5.2rem;
    position:relative;
}
#container h3{
    font-weight: normal;
    height:5.2rem;
    font-size:3.4rem;
    color:#112233;
    letter-spacing: 2px;
}
#container h3 .programName{
    margin-right:2.4rem;
}
#btn{
    width:12rem;
    height:5.2rem;
    background-color:#fd8200;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color:#fff;
    font-size:2.8rem;
    border:none;
    position:absolute;
    top:0;
    right:0;
}
#container p{
    width:149.2rem;
    margin:0 auto;
    color:#888;
    font-size:2.8rem;
    line-height:4.4rem;
    letter-spacing: 2px;
}
#container .programDes{
    margin-top:1rem;
    text-indent: 1.5em;
    text-align:Justify;
    text-justify:inter-ideograph;
}

#tipsWrapper{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.6);
    padding-right:8rem;
    padding-top:8rem;
    display:none;
}
#tipsWrapper img{
    width:49.4rem;
    height:auto;
    float:right;
}
#hideTips{
    font-size:2.8rem;
    color:#fff;
    position:absolute;
    top:8rem;
    left:8rem;
}





























